.new-exam {
  width: 90%;
  padding: 5% 10%;
  margin: 0 auto;

  .form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    mat-form-field {
      width: 45%;
    }
  }
  .btn-wrapper {
    text-align: end;
  }
}
